parameters:
	ignoreErrors:
		-
			message: '#^Variable property access on object\.$#'
			identifier: property.dynamicName
			count: 1
			path: src/Arrays.php

		-
			message: '#^Variable property access on DateInterval\.$#'
			identifier: property.dynamicName
			count: 1
			path: src/Dates.php

		-
			message: '#^Variable \$i might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: src/Numbers.php

		-
			message: '#^Parameter \#2 \$language of static method voku\\helper\\ASCII\:\:to_ascii\(\) expects '' ''\|''am''\|''ar''\|''az''\|''be''\|''bg''\|''bn''\|''cs''\|''da''\|''de''\|''de_at''\|''de_ch''\|''el''\|''el__greeklish''\|''en''\|''eo''\|''et''\|''fa''\|''fi''\|''fr''\|''fr_at''\|''fr_ch''\|''hi''\|''hr''\|''hu''\|''hy''\|''it''\|''ja''\|''ka''\|''kk''\|''ko''\|''ky''\|''latin''\|''lt''\|''lv''\|''mk''\|''mn''\|''msword''\|''my''\|''nl''\|''no''\|''or''\|''pl''\|''ps''\|''pt''\|''ro''\|''ru''\|''ru__gost_2000_b''\|''ru__passport_2013''\|''sk''\|''sr''\|''sr__cyr''\|''sr__lat''\|''sv''\|''th''\|''tk''\|''tr''\|''uk''\|''uz''\|''vi''\|''zh'', string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Strings.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 6
			path: tests/src/ArraysTest.php

		-
			message: '#^Static method Esi\\Utility\\Environment\:\:iniSet\(\) invoked with 1 parameter, 2 required\.$#'
			identifier: arguments.count
			count: 1
			path: tests/src/EnvironmentTest.php

		-
			message: '#^Call to function array_sum\(\) on a separate line has no effect\.$#'
			identifier: function.resultUnused
			count: 2
			path: tests/src/FilesystemTest.php

		-
			message: '#^Call to function count\(\) on a separate line has no effect\.$#'
			identifier: function.resultUnused
			count: 2
			path: tests/src/FilesystemTest.php

		-
			message: '''
				#^Call to deprecated method validJson\(\) of class Esi\\Utility\\Strings\:
				as of 2\.0\.0 and will be removed in v3\.0$#
			'''
			identifier: staticMethod.deprecated
			count: 2
			path: tests/src/StringsTest.php

		-
			message: '#^Parameter \#1 \$length of static method Esi\\Utility\\Strings\:\:randomBytes\(\) expects int\<0, max\>, \-10 given\.$#'
			identifier: argument.type
			count: 1
			path: tests/src/StringsTest.php
