parameters:
	ignoreErrors:
		-
			message: '#^Variable property access on object\.$#'
			identifier: property.dynamicName
			count: 1
			path: src/Arrays.php

		-
			message: '#^Variable property access on DateInterval\.$#'
			identifier: property.dynamicName
			count: 1
			path: src/Dates.php

		-
			message: '#^Variable \$i might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: src/Numbers.php

		-
			message: '#^Comparison operation "\<" between int\<1, max\> and 1 is always false\.$#'
			identifier: smaller.alwaysFalse
			count: 1
			path: src/Strings.php
